.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-wrapper{
  position: relative;
  background-color: black;
  width: 300px;
  height: 400px;
}
.navbar{
  width: 100%;
  position: absolute;
  background-color: red;
  height: 10px;
  min-height: 10px;
  max-height: 250px;
}